#notifier-box {
	position: fixed;
	bottom: 10px;
	right: 20px;
	z-index: 9999;
}

div.message-box {
	background: #111;
	background: rgba(25, 22, 26, 0.9);
	margin: 0 auto;
	padding: 10px;
	width: 400px;	
	color: white;	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;	
}

div.message-box:hover {
	background: #111;
	background: rgba(0, 0, 0, .9);
}

div.message-box div.success {
	color: green;
	margin: 0 0 10px 0;
}

div.message-box div.error {
	color: #FC0F0F;
	margin: 0 0 10px 0;
}

div.message-box a.message-close {
	background: #000 url('../images/message-close.png') center no-repeat;
	width: 15px; height: 15px;
	display: block; float: right;	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;	
	-webkit-opacity: .2;
	-moz-opacity: .2;
	-o-opacity: .2;
	opacity: .2;
}

div.message-box:hover a.message-close {
	-webkit-opacity: .5;
	-moz-opacity: .5;
	-o-opacity: .5;
	opacity: .5;
}

div.message-box a.message-close:hover {
	-webkit-opacity: 1;
	-moz-opacity: 1;
	-o-opacity: 1;
	opacity: 1;
}

div.message-box div.message-body {
	overflow: hidden;
}

div.message-box div.message-body div.thumb {
	width: 48px;
	height: 48px;
	margin: 0 10px 0 0;
	float: left;
	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
}

div.message-box div.message-body div.thumb img {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius:2px;
	border-radius: 2px;
}
